<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grade_Save_System.Properties.Settings.DbSchoolConnectionString"
            connectionString="Data Source=SADAY\SQLEXPRESS;Initial Catalog=DbSchool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>